/*div{
  background-color: #e8e8e8;
  border: 1px white solid;
}*/
#logo{
  width: 29px;
  margin-left: 19px;
  margin-top: 7px;
}

#menu-wrapper{
  width: 80%;
  text-align: right;
}

#menu a li{
  display: inline-block;
  color: #167d90;
  font-size: 24px;
  padding: 0 30px;
  font-weight: bold;
}

#menu li:hover{
  color: white;
  cursor: pointer;
  /*https://www.w3schools.com/cssref/pr_class_cursor.asp*/
}
